# Ignore virtual environment and system files
venv/
__pycache__/
*.pyc
*.log
.DS_Store

# Ignore data files
*.xlsx
*.csv
*.pdf

# Ignore Jupyter and Streamlit junk
.ipynb_checkpoints/
*.ipynb
.streamlit/

# Ignore session/auth files from old system
session.json
licenses.json

# Ignore IDE/editor settings
.env
.vscode/

#ignore desktop.ini
desktop.ini


